title{
    font-family: monospace;
}
body {
    margin: 0px;
    padding: 0px;
    background: url(/image/bagrounf.png) no-repeat;
    background-size: auto;
}
.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box p{
    font-family: 'Courier New', Courier, monospace;
}
.box-img{
    border-radius: 50%;
    width: 200%;
    height: 200px;
}
.box h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    letter-spacing: 4%;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;

}


  




